#Login {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #0E0E0E 70%, #03A7A6);
  #login-section {
    background-color: #161616;
    position: absolute;
    top: 50%;
    width: 65%;
    left: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    overflow: hidden;
    #login-image {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      height: 100%;
      width: 50%;
      float: left;
      position: relative;
      img {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%;
        height: 100%;
        opacity: 0.5;
      }
      #login-description {
        position: absolute;
        top: 3%;
        left: 5%;
        h6 {
          color: linen;
          font-weight: bolder;
          margin-bottom: 78%;
        }
        h2 {
          color: linen;
          font-weight: bolder;
        }
        p {
          color: linen;
        }
      }
    }
    #login-info {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 100%;
      width: 50%;
      float: left;
      #login-title {
        margin-top: 20%;
        text-align: center;
        h2 {
          color: linen;
          font-weight: bolder;
        }
        p {
          margin-top: 15%;
          color: #818181;
          font-weight: bolder;
          font-size: 12px;
        }
      }
      #login-account {
        #login-email {
          margin-left: 15%;
          margin-right: 15%;
          margin-bottom: 5%;
        }
        #login-password {
          margin-left: 15%;
          margin-right: 15%;
          margin-bottom: 2%;
        }
        #login-forgot {
          margin-left: 15%;
          margin-right: 15%;
          text-align: right;
          a {
            text-decoration-line: none;
            p {
              color: #818181;
              font-weight: bolder;
              font-size: 12px;
            }
          }
          :hover {
            color: #8E8E8E;
          }
        }
        #login-button {
          margin-left: 15%;
          margin-right: 15%;
          #btnLogin {
            width: 100%;
            color: linen;
          }
        }
      }
    }
  }
}